@model QLSV.Models.HocSinh

@{
    ViewData["Title"] = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

    <div class="page-header">
        <div class="header-sub-title">
            <nav class="breadcrumb breadcrumb-dash">
                <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
                <span class="breadcrumb-item active">Thông tin học sinh : @Model.HoTen</span>
            </nav>
        </div>
    </div>
    <div class="card-body">
        <h4 class="card-title">Thông tin học sinh : @Model.HoTen</h4>
        <div class="table-responsive">
            <table class="product-info-table m-t-20">
                <tbody>
                    <tr>
                        <td>ID:</td>
                        <td class="text-dark font-weight-semibold">@Model.Id</td>
                    </tr>
                    <tr>
                        <td>Name:</td>
                        <td>@Model.HoTen</td>
                    </tr>
                    <tr>
                    <td>Gmail:</td>
                    <td>@Model.Gmail</td>
                    </tr>
                    <tr>
                    <td>date_of_birth:</td>
                    <td>@Model.date_of_birth</td>
                    </tr>
                <tr>
                    <td>Status:</td>
                    <td>
                        @if (Model.IsActive == true)
                        {
                            <div class="d-flex align-items-center">
                                <div class="badge badge-success badge-dot m-r-10"></div>
                                <div>Đã kích hoạt</div>
                            </div>
                        }
                        else
                        {
                            <div class="d-flex align-items-center">
                                <div class="badge badge-geekblue badge-dot m-r-10"></div>
                                <div>chưa kích hoạt</div>
                            </div>
                        }
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>